<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <title>TextApp</title>
</head>

<body>

<div id="app">  
    <div class="container ">
        <div class="column is-half is-offset-one-quarter">
        <article class="message">
            <div class="message-header">
                <p>Notepad</p>
            </div>
        <textarea v-model="text" class="textarea is-success message-body" type="text" placeholder="Enter note" v-bind:class="{ 'textarea is-warning': underTwentyMark, 'textarea is-danger': underTenMark }" maxlength="40"></textarea>
        
        <div class="level">
            <div class="level-left"></div>
            <div class="level-right">
            <span v-bind:class="{ 'success': underTwentyMark, 'danger': underTenMark }">{{ charactersRemaining }}</span>
            <a  :disabled="exceededTest" @click="clear" class="button is-text">clear</a>
            <a :disabled="exceededTest" class="button is-primary">post</a>
            </div>
        </div>
    </article>
        <p>Text is: {{text}} </p>
        
        </div>
    </div>
</div>



<script src="./index.js"></script>
</body>

</html>
